.how-section1 p{
    font-size:16px;
  }
  .how-section1 h3{
    font-size:36px;
  }
  .main-slider .slider-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .owl-carousel .owl-item{
    opacity: 1!important;
  }
  .owl-carousel.home-slider .slider-item{
    height:800px;
  }
  .owl-carousel.home-slider{
    height:800px;
  }